PORT = 3000

MAILER_SERVICE=gmail
MAILER_EMAIL=mariana.andrea.paredes@gmail.com 
MAILER_SECRET_KEY=xitjjficpcdkuxae

PROD = false

MONGO_URL=mongodb://mariana:123@localhost:27018/
MONGO_DB_NAME=NOC
MONGO_USER=mariana
MONGO_PASS=123